# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IntelliJ/Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Android
android/.gradle/
android/app/*.keystore
android/local.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/.generated/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Common OS junk files
.DS_Store
*.swp
*.lock
*.tmp
*.log

# NetBeans (optional, if not used, can remove)
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse (optional, if not used, can remove)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
